.skills {
    display: flex;
    flex-direction: column;
}
.skills .tools ul#linguagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.skills .tools section.tools {
    margin-bottom: 1rem;
}
.skills .tools ul li img.toolsSkill {
    width: 28.5px;
}
.acordeon.open .content ol.habilidades li {
    list-style: decimal;
}
.acordeon.open .content ol.habilidades {
    padding-left: 2rem;
}
section.personalSkills {
    margin-top: 1rem;
}

.acordeon.open .content.skill li::before {
    display: none;
}

